body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.draggable-item {
    height: 60px;
    width: 60px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.tier{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    min-height: 80px;
    background-color: lightgray;
    justify-items: center;
}

.tier-label {
    grid-column: 1;
}

.tier-middle {
    grid-column: 2;
}

.tier-settings {
    grid-column: 3;
}
.draggable-item img {
    object-fit: cover;
    pointer-events: none;
    height: 60px;
    width: 60px;
}

.unranked-container {
    display: inline-block;
    width: 500px;
    min-height: 100px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px; 
    padding: 5px;
}

.tiers-container {
    display: flex;
    flex-direction: column;
}

